<template>
    <card title="Daftar Pegawai">
            {{ $t('you_are_logged_in') }}
         
            <router-link to="/employeeschedule/create" class="btn btn-primary ">
                Create
            </router-link><br/><br/>
            <table class="table table-bordered">
                <thead class="thead-dark">
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">nama Pegawai</th>
                    <th scope="col">Jabatan</th>
                    <th scope="col">Tanggal</th>
                    <th scope="col">Schedule</th>
                    <!-- <th scope="col" colspan="2">aksi</th> -->
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="schedule in sche" :key="schedule.id" >
                        
                    <td scope="row">1</td>
                    <td>{{  schedule.employee.name  }}</td>
                    <td>{{  schedule.employee.job_title }}</td>
                    <td>{{ schedule.date }}</td>
                    <td>{{ schedule.work_schedule.name }}</td>
                    <!-- <td><router-link :to="'/workschedule/update/' + workschedule.id "><fa icon="edit" fixed-width/></router-link></td>
                    <td><button @click="deleteData(workschedule)"><fa icon="trash" fixed-width/></button></td> -->
                    </tr>
                
                </tbody>
            </table>


    </card>
</template>
<script>
import axios from 'axios'
//import Swal from 'sweetalert2'
export default {
    middleware: 'auth',
   head () {
        return { title: 'schedule pegawai' }
    },
    async asyncData(context){
        let res = (await axios.get("employeeschedule")).data 
        let sche = res.data
       
        return {
            sche,
            
            } 
    },
     data(){
      return {
            
            mydata : {
               datax :  this.sche
            }
        }
  },
}
</script>
<style>

</style>