<template>
  <card :title="$t('home')">
    {{ $t('you_are_logged_in') }}
    <router-link to="/profile" class="btn btn-danger">
    My Profile
    </router-link>
    <router-link to="/employee" class="btn btn-danger">
      daftar pegawai
    </router-link>
  </card>
</template>

<script>
export default {
  middleware: 'auth',

  head () {
    return { title: this.$t('home') }
  }
}
</script>
