<template>
    <card title="Daftar Presensi">
    Terdapat {{ count }} data Presensi

    <router-link to="/presence/create" class="btn btn-info">
      Catat Presensi
    </router-link>

    <div class="form-group row">
      <label for="inputPassword" class="col-sm-2 col-form-label">Filter Tahun</label>
      <div class="col-sm-10">
        <select class="form-control form-control-sm" v-model="filterYear">
          <option value="2021">2021</option>
          <option value="2020">2020</option>
          <option value="2019">2019</option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label for="inputPassword" class="col-sm-2 col-form-label">Filter Bulan</label>
      <div class="col-sm-10">
        <select class="form-control form-control-sm" v-model="filterMonth">
          <option value="1">Januari</option>
          <option value="2">Februari</option>
          <option value="3">Maret</option>
          <option value="4">April</option>
          <option value="5">Mei</option>
          <option value="6">Juni</option>
          <option value="7">Juli</option>
          <option value="8">Agustus</option>
          <option value="9">September</option>
          <option value="10">Oktober</option>
          <option value="11">November</option>
          <option value="12">Desember</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">Tanggal</th>
              <th scope="col">Waktu Masuk</th>
              <th scope="col">Waktu Pulang</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="presence in presences" :key="presence.id">
              <td>{{ presence.date }}</td>
              <td>{{ presence.checkin_time }}</td>
              <td>{{ presence.checkout_time }}</td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>
  </card>

</template>
<style scoped>
 .avatar {
  position: relative;
  line-height: 1;
  border-radius: 500px;
  white-space: nowrap;
  font-weight: 700;
  border-radius: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  border-radius: 500px;
  box-shadow: 0 5px 10px 0 rgba(50, 50, 50, 0.15);
}

.avatar img {
  border-radius: inherit;
  width: 100%;
}

.gd-primary {
  color: #fff;
  border: none;
  background: #448bff linear-gradient(45deg, #448bff, #44e9ff);
}

.gd-success {
  color: #fff;
  border: none;
  background: #31c971 linear-gradient(45deg, #31c971, #3dc931);
}

.gd-info {
  color: #fff;
  border: none;
  background: #14bae4 linear-gradient(45deg, #14bae4, #14e4a6);
}

.gd-warning {
  color: #fff;
  border: none;
  background: #f4c414 linear-gradient(45deg, #f4c414, #f45414);
}

@media (min-width: 992px) {
  .page-container {
    max-width: 1140px;
    margin: 0 auto;
  }

  .page-sidenav {
    display: block !important;
  }
}

.list {
  padding-left: 0;
  padding-right: 0;
}

.list-item {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
}

.list-row .list-item {
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-align: center;
  align-items: center;
  padding: 0.75rem 0.625rem;
}

.list-row .list-item > * {
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}

.no-wrap {
  white-space: nowrap;
}

.text-color {
  color: #5e676f;
}

.text-gd {
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  text-fill-color: transparent;
}

.text-sm {
  font-size: 0.825rem;
}

.h-1x {
  height: 1.25rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.w-48 {
  width: 48px !important;
  height: 48px !important;
}

</style>
<script>
import axios from 'axios'
import Swal from 'sweetalert2'

export default {
    middleware: "auth",
  // meta: {
  //   permission: 'presence.list',
  // },

    head() {
        return { title: "Presensi Pegawai" };
    },

    async asyncData(context) {
        let resp = (await axios.get('presence')).data
        let presences = resp.data
        let count = resp.count

        let filterYear = (new Date).getFullYear()
        let filterMonth = (new Date).getMonth()+1

        return {
        presences,
        count,
        filterYear,
        filterMonth,
        }
    },
    methods: {
    async refreshData() {
      let resp = (await axios.get('presence', {
        params: {
          month: this.filterMonth,
          year: this.filterYear,
        }
      })).data
      this.presences = resp.data
    },
    async deleteData(presence) {
      let result = await Swal.fire({
        icon: 'warning',
        title: 'Apakah Anda ingin menghapus data ini?',
        text: 'Pegawai: ' + presence.name,
        reverseButtons: false,
        showCancelButton: true,
        confirmButtonText: 'Ya',
        cancelButtonText: 'Batal'
      })
      if (result.isConfirmed) {
        let resp = (await axios.delete('presence/' + presence.id)).data
        Swal.fire({
          icon: 'success',
          title: 'Berhasil',
          text: 'Data berhasil dihapus',
          confirmButtonText: 'ok',
        })
        await this.refreshData()
      }
    }
  },
   watch: {
    filterMonth(newVal) {
      this.refreshData()
    },
    filterYear(newVal) {
      this.refreshData()
    },
  }


}
</script>