<template>
  <card title="Create Pegawai">
    {{ $t('you_are_logged_in') }}
    <h1>Input Waktu Kerja</h1>
    <router-link to="/workschedule" class="btn btn-info ">
        Kembali
    </router-link><br/><br/>

  <form @submit.prevent="save">
  <div class="form-group row">
    <label for="Name" class="col-sm-2 col-form-label">shift</label>
    <div class="col-sm-10">
             <input type="text" class="form_control" id="name" v-model="form.name">
    </div>
  </div>
  <div class="form-group row">
    <label for="Name" class="col-sm-2 col-form-label">masuk</label>
    <div class="col-sm-10">
             <input type="time" class="form_control" id="checkin_time" v-model="form.checkin_time">
    </div>
  </div>
  <div class="form-group row">
    <label for="date_birth" class="col-sm-2 col-form-label">keluar istrahat</label>
    <div class="col-sm-10">
         <div class="col-sm-10">
             <input type="time" class="form_control" id="break_start_time" v-model="form.break_start_time">
    </div>
    </div>
  </div>
  <div class="form-group row">
    <label for="job_title" class="col-sm-2 col-form-label">kembali dari istrahat</label>
    <div class="col-sm-10">
         <input type="time" class="form_control" id="break_end_time" v-model="form.break_end_time">
    </div>
  </div>
  <div class="form-group row">
    <label for="job_title" class="col-sm-2 col-form-label">Pulang</label>
    <div class="col-sm-10">
         <input type="time" class="form_control" id="checkout_time" v-model="form.checkout_time">
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-10">
      <button type="submit" class="btn btn-primary" :disabled="loading">Save</button>
    </div>
  </div>
</form>


  </card>
</template>


<script>
import axios from 'axios'
import Swal from 'sweetalert2'
export default {
  middleware: 'auth',

    // meta : {
    //     permission : 'empoyee.list',
    // },
  head () {
    return { title: 'create pegawai' }
  },
  async asyncData(context){  
       
  },
  data(){
      return {
            form : {
                name: '',
                checkin_time: '',
                break_start_time: '',
                break_end_time: '',
                checkout_time: ''


            },
            loading : false
        }
  },
  methods:{
    async save(){
       
        this.loading =  true
        let resp =  (await axios.post('workschedule', this.form)).data
       if(resp.success){
            Swal.fire({
                icon: 'success',
                title: 'berhasil',
                text: 'data berhasil disimpan',
                reverseButtons: true,
                confirmButtonText: 'ok',
              
            })
       }else{
              Swal.fire({
                icon: 'error',
                title: 'gagal menyimpan data',
                text: resp.message,
                reverseButtons: true,
                confirmButtonText: 'ok',
              
              })
       }
       this.loading =  false
       this.form.name='',
       this.form.checkin_time="",
        this.form.break_start_time='',
         this.form.break_end_time='',
          this.form.checkout_time=''


    }     
  }
}
</script>