<template>
    <card title="Daftar Pegawai">
            {{ $t('you_are_logged_in') }}
            <h1>Terdapat {{ count }} jadwal kerja</h1>
            <router-link to="/workschedule/create" class="btn btn-primary ">
                Create
            </router-link><br/><br/>
            <table class="table table-bordered">
                <thead class="thead-dark">
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">Shift kerja</th>
                    <th scope="col">Waktu Masuk</th>
                    <th scope="col">Awal Istrahat</th>
                    <th scope="col">Akhir Istrahat</th>
                    <th scope="col">Pulang</th>
                    <!-- <th scope="col" colspan="2">aksi</th> -->
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="workschedule in w" :key="workschedule.id" >
                    <td scope="row">1</td>
                    <td>{{ workschedule.name }}</td>
                    <td>{{ workschedule.checkin_time }}</td>
                    <td>{{ workschedule.break_start_time }}</td>
                    <td>{{ workschedule.break_end_time }}</td>
                    <td>{{ workschedule.checkout_time }}</td>
                    <!-- <td><router-link :to="'/workschedule/update/' + workschedule.id "><fa icon="edit" fixed-width/></router-link></td>
                    <td><button @click="deleteData(workschedule)"><fa icon="trash" fixed-width/></button></td> -->
                    </tr>
                
                </tbody>
            </table>


    </card>
</template>
<script>
import axios from 'axios'
//import Swal from 'sweetalert2'
export default {
    middleware: 'auth',
   head () {
        return { title: 'setting jam kerja' }
    },
    async asyncData(context){
        let res = (await axios.get("workschedule")).data 
        let w = res.data
        let count = res.count
        return {
            w,
            count
            } 
    }
}
</script>
<style>

</style>